body{
    background-color:antiquewhite;
    background-size:cover;
    font-family:Arial, Helvetica, sans-serif;}

h1{
    color:black;
    text-align:center;
}
input{
    display:block;
    margin:10px auto;
    padding:10px;
    width:250px;
}
button{
    display:block;
    margin:auto;
    padding:10px 20px;
    background-color:rgb(248, 243, 243);
    color:black;
    border:none;
    cursor:pointer;
}
h2{
    display:inline-block;
    margin: auto;
    color:black;
}